<div class="create bg-gray-100 min-h-screen flex items-center justify-center py-5">
    <div class="container mx-auto">
        <div class="form bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <h1 class='text-3xl mb-4'>Sign up</h1>
            <%#= notice %>
            <%= form_with(model: User, data: {controller: "autosubmit", action: "input->autosubmit#submit" }, url: users_path, id: 'new_user') do |f| %>

                <div id="preview"></div>

                <div class="mb-4">
                    <%= f.label :email, class: "block text-gray-700 text-sm font-bold mb-2" %>
                    <%= f.text_field :email, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
                </div>

                <div class="mb-6">
                    <%= f.label :password, class: "block text-gray-700 text-sm font-bold mb-2" %>
                    <%= f.password_field :password, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
                </div>
                <%= f.button "Preview / Validate", formaction: preview_users_path, name: "_method", value: "post", data: { autosubmit_target: "submitbutton" } %>
                <%= f.submit "Create User", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
            <% end %>
        </div>
    </div>
</div>
<%= javascript_include_tag 'signupStep2' %>
