<!DOCTYPE html>
<html>
  <head>
    <title>RailsTemplateWithAuth</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body class="bg-gray-100">
    <div class="container mx-auto px-4">
      <header class="flex justify-between items-center py-4">
        <h1 class="text-3xl font-bold text-blue-500">RailsTemplateWithAuth</h1>
        <nav>
          <% if current_user %>
          <ul class="flex space-x-4">
            <li class="text-blue-500 inline-block py-2"><%= current_user.email %></li>
            <li ><%= button_to "Log out", logout_path, method: "delete", class: 'px-3 py-2 rounded bg-blue-500 text-white' %></li>
            <li ><%= link_to "Dashboard", dashboard_path, class: 'px-3 py-2 rounded bg-blue-500 text-white inline-block' %></li>
          </ul>
          <% else %>
          <ul class="flex space-x-4">  
            <li><%= link_to "Login", login_path, class: 'px-3 py-2 rounded bg-blue-500 text-white' %></li>
            <li><%= link_to "Signup", signup_step1_path, class: 'px-3 py-2 rounded bg-blue-500 text-white' %></li>
          </ul>
          <% end %>
        </nav>
      </header>
    </div>
    <main class="mt-8">
      <%= yield %>
    </main>
  </body>
</html>
